*{
    margin: 0;
    padding: 0;
}
a {
    color: white;
}

body{
        height: 5478px;
        background: url("diseño-mobil.png");
        background-position: top center;    
        background-color: #484c56;
        background-repeat: no-repeat;
}

@media screen and (min-width:1000px){
    body{
        height: 2574px;
        background: url("diseño.png");
        background-position: top center;    
        background-color: #484c56;
        background-repeat: no-repeat;
    }
}
